<style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #e82d3a;
    color: white;
  }
  .search-btn>i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    border-radius: 25px;
    border: 1px solid #d9d8d8;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .nav-link:hover {
    color: #fe424d !important; /* Matches the hover color of your search button */
  }

  .search-space{
    background-color: #BDC3C7 ;
    padding: 6px;
    border-radius: 50px;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="/listings">
        <span class="vs-circle">
          <i class="fa-solid fa-v"></i>
          <i class="fa-solid fa-s"></i>
        </span>
      </a>
      
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: white;">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings"><i class="fa-solid fa-globe"></i> Explore</a>
        </div>
        
        <div class="navbar-nav ms-auto search-space">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations">
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>Search
            </button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">VentureStay your home <i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;</a>
          <% if(!currUser){ %>
            <a class="nav-link" href="/users/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/users/login"><b>Log in</b></a>
          <% } %>  
          <% if(currUser){ %>
            <a class="nav-link" href="/users/logout"><b>Log out</b></a>
          <% } %>
        </div>

      </div>
    </div>
  </nav>